# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Build outputs
dist/
web-build/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Android
android/.gradle/
android/app/build/

# iOS
ios/build/